.auth-form{
    display: flex;
    flex-direction: column;
    margin-top: 40px !important;
    padding: 0 !important;
}

.form-outline{
    background: rgba(63, 63, 63, 0.42) 0% 0% no-repeat padding-box;
    border: 1px solid rgba(112, 112, 112, 0.42);
    border-radius: 23px;
    padding: 25px;
    position: relative;
}

// .form-outline::before {
//     content: "";
//     background-color : rgba(63, 63, 63,0.7);
//     position: absolute;
//     z-index: -1;
//     filter: blur(5px);
// }

.form-text-box{
    h1{
        font-size: 30px;
    }

    p{
        color: rgba(255, 255, 255, 0.55);
        font-size: 14px;
    }
}

.terms{
    text-align: left;
}

.forgot-password{
    color:white;
    text-decoration: underline;
    margin-bottom: 2.8rem;
    text-align: right;
    font-weight: 200;
    font-size: 13px;
}

.prompt{
    margin-top: 2rem;
    font-size: 14px;
    color: #fff;
    font-weight: 100;
    letter-spacing: 0.22px;
    a{
        font-weight: 500;
    }
}

.signup, .signin{
        text-align: center;
        font-weight: 200;
        
    p{
        letter-spacing: 0.22px;
    
    a{
        text-decoration: none;
    color:white;
    margin-left: 4rem;
    text-decoration: underline;
    font-weight: 800;
    
    }
}
}

@media (min-width: 768px) {
    .form-outline{
        border-radius: 43px;
    }
}

@media (min-width: 1280px) {
    .form-outline{
        padding: 3rem;
    }
}
