.logo-box img {
    margin-right: 1rem;
}

.a-box {
    display: flow-root !important;
}

.logo-box ul {
    list-style: none;
    display: inline;
}

.logo-box ul li {
    display: inline;
    margin-top: 50px;
    font-size: 16px;
    border-bottom: #5e4d5630 solid 5px;
    padding: 1px 10px 3px 0px;
    cursor: pointer;
}

.admin-active {
    border-bottom: #B70569 solid 5px !important;
}

.admin-greeting {
    margin-top: 30px;
    margin-left: 14px;
}

.admin-greeting p {
    font-size: 20px;
}

.admin-body {
    max-width: 85% !important;
}

.right-bar {
    float: right;
    min-width: 200px;
    cursor: pointer;
}

.right-bar .belln {
    padding: 30px 15px 5px 5px;
    font-size: 30px;
    color: #B70569;
}

.right-bar .belln:hover {
    border-radius: 20%;
    background-color: #fff;
    color: gray;
    padding: 5px;
    margin: 25px 10px 0px 0px;
}

.right-bar span {
    padding: 12px 4px 2px 10px;
    margin: 20px 15px 5px 5px;
}

.admin-cards {
    margin-top: 2rem !important;
    margin-left: 18px !important;
}

.right-bar span svg {
    padding: 0px 5px 5px 5px;
    font-size: 30px;
    color: grey;
    float: right;
}

.far-right {
    position: absolute;
}

.far-right:hover {
    background-color: #3F3F3F42;
    border-radius: 2%;
}

.far-right icon {
    background-color: #fff;
    color: #84024A;
    border-radius: 15%;
    padding: 10px;
}

.far-right text {
    padding: 8px;
}

.below {
    /* float: right; */
    margin-top: 5px;
    background-color: #3F3F3F42;
    border: 1px solid #70707042;
    border-radius: 2%;
}

.below ol {
    list-style-type: none;
    padding: 2px 0px 1px 0px;
}

.below ol li {
    list-style-type: none;
    padding: 10px 15px 10px 15px;
    font-size: 15px;
}

.below ol li a {
    text-decoration: none;
    color: #fff;
}

.below ol li:hover {
    background-color: #B70569;
}

/* ============================ */
/* ============================ */
/* ============================ */
/* PREVIOUS STYLES */
/* .react-bs-table-pagination {
    margin-bottom: 25px;
}

.page-item .page-link {
    color: #B70569;
}

.active .page-item .page-link {
    color: #B70569;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.page-item.active .page-link {
    color: #FFFFFF;
    background-color: #B70569;
    border-color: #B70569;
} */