.card-box{
    margin-bottom: 1em;
    width: 303px;
    border: 1px solid rgb(63, 63, 63), 0.42;
    border-radius: 20px;
    background: rgba(63, 63, 63, 0.42);
    padding: .8em;
    text-align: center;
    margin-right: 16px;
    height: 173px;
    .card-content{
        padding: 1rem;
    }
    .value{
        margin-bottom: auto;
        text-align: left;
        font-weight: 700;
        margin-top: 2rem;
        margin-left: 6px;
    }
    .card-header{
        margin-bottom: auto;
        border-bottom: none !important;
        // padding: 0.8rem;

        .icon-cardbox{
            fill: $color-secondary;
            height: 2.4rem;
            background-color: #B70569;
            border: thin solid #B70569;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            margin-bottom: 1em;
            svg{
                padding: 26%;
                font-size: 1.4rem;
            }
        }

    };

    p{
        margin-bottom: .9rem;
    }

    hr{
        margin-bottom: 2rem;
    }

    .title{
        font-size: 10px;
        text-align: left;
        margin-top: 1.5rem;
        margin-left: 6px;
        opacity: 0.6;
    }
}

// .withOverflowingBackground {
    
//     background-color: transparent;
//  }


.card-box-lg{
    // background: transparent url('../../assets/images/Mask-Group-9.png') 50% 50% repeat padding-box;
    margin-bottom: 1em;
    width: 303px;
    position: relative;
    background-color: rgba(183, 5, 105, 1);
    color: #F2F2F2;
    height: 163px;
    margin-right: 16px;
    border: 1px solid #707070;
    border-radius: 20px;
    // width: 350px;
    padding: 20px 15px;
    padding-right: 0;
    padding-bottom: 11px;
    z-index: -1;
    .card-header{
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
        border-bottom: none !important;
    }

    button{
        background-color: rgba(255, 255, 255, 0.2);
        padding: 6px;
        font-size: 10px;
        color: white;
        text-transform: uppercase;
        border-radius: 8px;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;

        .card-btn-icon{
            border: thin solid rgba(255, 255, 255, 0.3);
            border-radius: 8px;
            width: 30px;
            height: 30px;
            font-size: 20px;
            display: inline;
            background-color: rgba(255, 255, 255, 0.3);
            margin-left: 15px;
            svg{
                padding: 2px;
                margin-top: 3px;
            }
        }
    }
  
}

@media (min-width: 768px) {
    .card-box-lg{
        width: 365px
    }
}


@media screen and (min-width: 50em) {
    .card-box {
      display: inline-block;
      width: 157px;
      margin-right: 2.3em;
      height: 173px;
    }
    .card-box-lg{
        width: 303px;
        margin-right: 2.3em
    }
    .withOverflowingBackground::before {
        content: " ";
        position: absolute;
        width: 500px;
        height: 210px;
        // z-index: -1;
        background-position: top;
        background: url(../../assets/images/Mask-Group-9.png) -5% 0% no-repeat padding-box;
        top: -15px
     }
}

@media screen and (min-width: 90em) {
    .card-box {
      display: inline-block;
      width: 157px;
      margin-right: 2.3em;
      height: 173px;
    }
    .card-box-lg{
        width: 303px;
        margin-right: 2.3em
    }
    .withOverflowingBackground::before {
        content: " ";
        position: absolute;
        width: 500px;
        height: 210px;
        // z-index: -1;
        background-position: top;
        background: url(../../assets/images/Mask-Group-9.png) -5% 0% no-repeat padding-box;
        top: -15px
     }
}

// @media screen and (min-width: 80em) {
//     .card-box {
//       display: inline-block;
//       width: 220px;
//       margin-right: 2em;
//       height: auto;
//     }
//     .card-box-lg{
//         width: 303px;
//         margin-right: 2em;
//     }
// }
