.card-box{
    margin-bottom: 1em;
    width: 201px;
    border: 1px solid rgb(63, 63, 63), 0.42;
    border-radius: 20px;
    background: rgba(63, 63, 63, 0.42);
    padding: .8em;
    text-align: center;
    margin-right: 16px;
    // height: 163px;
    .value{
        margin-bottom: auto;
    }
    .card-title{
        margin-bottom: auto;

        .icon-cardbox{
            fill: $color-secondary;
            height: 2.4rem;
        }

    };

    p{
        margin-bottom: .9rem;
    }

    hr{
        margin-bottom: 2rem;
    }
}

// .withOverflowingBackground {
    
//     background-color: transparent;
//  }


.card-box-lg{
    // background: transparent url('../../assets/images/Mask-Group-9.png') 50% 50% repeat padding-box;
    margin-bottom: 1em;
    width: 301px;
    position: relative;
    background-color: rgba(183, 5, 105, 1);
    color: #F2F2F2;
    height: 163px;
    margin-right: 16px;
    border: 1px solid #707070;
    border-radius: 20px;
    // width: 350px;
    padding: 2em;
    padding-right: 0;
    padding-bottom: 0;
    z-index: -1;
    .card-title{
        display: flex;
        flex-direction: column; 
        justify-content: space-between;
    }
}



@media screen and (min-width: 90em) {
    .card-box {
      display: inline-block;
      width: 197px;
      margin-right: 2.3em;
      height: auto;
    }
    .card-box-lg{
        width: 303px;
        margin-right: 2.3em
    }
    .withOverflowingBackground::after {
        content: " ";
        position: absolute;
        width: 500px;
        height: 210px;
        // z-index: -1;
        background-position: top;
        background: url(../../assets/images/Mask-Group-9.png) -5% 0% no-repeat padding-box;
        top: -15px
     }
}

@media screen and (min-width: 60em) {
    .card-box {
      display: inline-block;
      width: 197px;
      margin-right: 2.3em;
      height: auto;
    }
    .card-box-lg{
        width: 303px;
        margin-right: 2.3em
    }
}

// @media screen and (min-width: 80em) {
//     .card-box {
//       display: inline-block;
//       width: 220px;
//       margin-right: 2em;
//       height: auto;
//     }
//     .card-box-lg{
//         width: 303px;
//         margin-right: 2em;
//     }
// }
