.round {
  position: relative;
 margin-bottom: 20px;
}

.round span {
  margin-left: 10px;
  cursor: pointer;
  text-decoration: underline;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 13px;
  left: 0;
  position: absolute;
  top: 0;
  margin-top: 3px;
  width: 13px;  
}

.round label::before{
  // content: "I accept the terms of use";
  color: rgba(209, 209, 209, 0.69);
  display: flex;
  align-items: start;
  justify-content: flex-start;
  flex-direction: row;
  width: max-content;
  margin-left: 20px;
  font-size: 12px
}

.round label:after {
  border: 2px solid #3f3f3f;
  border-top: none;
  border-right: none;
  content: "";
  height: 4px;
  left: 2px;
  opacity: 0;
  position: absolute;
  top: 2px;
  transform: rotate(-45deg);
  width: 7px;
  
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #fff;
  border-color: #707070;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}