.jumbo{
    padding: 20px;
    margin-bottom: 30px;
    form{
        padding: 0;
    }
}
.jumbo-text{
    padding: 20px;
}
.sub-text{
    color: #B70569;
    letter-spacing: 0px;
    font-size: 11px;
}
.heading{
    margin-top: 25px;
}
.sub-div{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
}
.home_woman{
    width: 675px;
    height: 480px;
}
@media (min-width: 1280px) {
    .jumbo{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}