footer {
    background: #000000 0% 0% no-repeat padding-box;
    padding: 15px 0 15px 0;
}

.foot {
    margin: auto;
}

.noflex {
    flex-wrap: unset !important;
}

.navbar-brands{
    padding-top: 10px;
    padding-left: 75px;
}

.flogo {
    height: 50px;
}

.text {
    font-size: 11px;
    color: #FFFFFF75;
    font-family: 'FTPolar';
    text-align: center;
    margin: auto;
}

.f_img {
    height: 15px;
    width: 15px;
    margin: 0px 20px 0px;
}

.sm_link {
    padding: 0px 0px;
}