footer {
    background: #000000 0% 0% no-repeat padding-box;
    padding: 10px;
}

.navbar-brands{
    padding-top: 10px;
    padding-left: 75px;
}

.flogo {
    height: 50px;
}

.text {
    font-size: 10px;
    color: #FFFFFF75;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'FTPolar';
}

.f_img {
    height: 15px;
    width: 15px;
    margin: 0px 30px 0px;
}

.sm_link {
    padding: 13px 50px;
}