
.w-6-12 {
  width: 60%;
  margin: 0 auto;
}

.sec-text {
  margin-top: 2rem;
  line-height: 2;
  text-align: center;
  font: normal normal normal 22px/50px;
  font-family: "Segoe UI",
  Roboto,
  "Helvetica";
  color: #FFFFFF;
  opacity: 0.75;
}

.img {
  border-radius: 10px;
  min-height: 12rem;
  max-width: 8rem;
}