
// color

$color-primary :#FFC508;
$color-Primary-dark: #A37D00;
$color-Primary-darkmode: #FFE9A3;
$color-Primary-light: #FFF7DB;
$color-Primary-bg:#FFFBF0;

$color-secondary :#B70569;
$color-Secondary-dark: #B70569;
$color-Secondary-darkmode: #B70569;
$color-Secondary-light: #FFB2DD33;
$color-Secondary-bg:#FFB2DD33;

$color-success:#00BA88;
$color-success-dark: #00A378;
$color-success-darkmode: #A3FFE7;
$color-success-light: #DBFFF5;
$color-success-bg:#F0FFFB;

$color-error:#E63946;
$color-error-dark: #A3000E;
$color-error-darkmode: #FFA3AB;
$color-error-light: #FFDBDE;
$color-error-bg:#FFF0F1;

$color-warning:#F4B740;
$color-warning-dark: #A36D00;
$color-warning-darkmode: #FFE0A3;
$color-warning-light: #FFF3DB;
$color-warning-bg:#FFFAF0;

$color-body: #000f01;
$color-title-active: #000000;
$color-label: #656D66;
$color-placeholder: #D1D1D1;
$color-line: #707070;
$color-input-background:#3F3F3F;
$color-background:  #030124;
$color-off-white: #FCFCFC;

$color-white: #fff;


// grid

$grid-width: 114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;


