@font-face {
  font-family: 'Axiforma';
  src: url('../src/assets/fonts/Axiforma-Regular.eot');
  src: local('Axiforma Regular'), local('Axiforma-Regular'),
      url('../src/assets/fonts/Axiforma-Regular.eot?#iefix') format('embedded-opentype'),
      url('../src/assets/fonts/Axiforma-Regular.woff') format('woff'),
      url('../src/assets/fonts/Axiforma-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FTPolar';
  src: url('../src/assets/fonts/FT-Polar-Regular.otf');
  
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family:  'Axiforma', 'FTPolar', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
