.success{
    background-color: rgba(248, 255, 249);
    color: #00710E;
    padding: .8em;
    border: #F8FFF9B3 thin solid;
    border-radius: 15px;
}

.pending{
    background-color: rgba(248, 255, 249) ;
    color: #B70569;
    padding: .8em;
    border: #F8FFF9B3 thin solid;
    border-radius: 15px;
}